[package]
name = "dapol"
version = "0.1.0"
authors = ["Konstantinos Chalkias <kostascrypto@fb.com>"]
edition = "2018"
description = "DAPOL+ in rust"

[lib]
bench = false

[dependencies]
smtree = "0.1.2"
rand = "0.8.5"
digest = "0.9.0"
blake2 = "0.9.0"
sha2 = "0.9.0"
sha3 = "0.9.0"
primitive-types = "0.12.1"

zeroize = "1.6.0"
bulletproofs = "4.0.0"
curve25519-dalek-ng = "4.1.1"
merlin = "3.0.0"

thiserror = "1.0"
displaydoc = "0.2"

[dependencies.blake3]
version = "0.3.8"
features = ["rayon"]

[dev-dependencies]
rand = "0.8"
criterion = "0.4.0"

[[bench]]
name = "dapol"
harness = false